* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

body {
  width: 100%;
  display: flex;
  flex-direction: row;
  overflow-x: hidden;
}

/* // navbarvigetion // */

nav {
  width: 15%;
  height: 100vh;
  background-color: #27575b;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}

nav .logo {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

nav hr {
  margin: auto;
  width: 80%;
}

nav ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

ul li {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  padding: 0 0 0 10px;
  gap: 10px;
  list-style: none;
  color: white;
}
/* // featuer_system // */
.dashboard {
  width: 180px;
  height: 50px;
  background-color: #099d83;
  margin-top: 20px;
  border-radius: 8px;
  cursor: pointer;
}

.dashboard:hover {
  transform: translateY(-2px);
  background-color: green;
}

.dashboard a {
  text-decoration: none;
  list-style: none;
  color: white;
  cursor: pointer;
}

.Logout {
  width: 180px;
  height: 50px;
  background-color: #099d83;
  border-radius: 8px;
  cursor: pointer;
}

.Logout:hover {
  transform: translateY(-2px);
  background-color: green;
}

.Logout a {
  text-decoration: none;
  color: white;
}

.product_setup {
  width: 180px;
  height: 50px;
  background-color: #099d83;
  border-radius: 8px;
  cursor: pointer;
}

.product_setup:hover {
  transform: translateY(-2px);
  background-color: green;
}

.product_setup a {
  text-decoration: none;
  color: white;
}

.Sales_Process {
  width: 180px;
  height: 50px;
  background-color: #099d83;
  border-radius: 8px;
  cursor: pointer;
}

.Sales_Process:hover {
  transform: translateY(-2px);
  background-color: green;
}

.Sales_Process a {
  text-decoration: none;
  color: white;
}

.Transaction_Record {
  width: 180px;
  height: 50px;
  background-color: #099d83;
  border-radius: 8px;
  cursor: pointer;
}

.Transaction_Record:hover {
  transform: translateY(-2px);
  background-color: green;
}

.Transaction_Record a {
  text-decoration: none;
  color: white;
}

.Receipt_Generation {
  width: 180px;
  height: 50px;
  background-color: #099d83;
  border-radius: 8px;
  cursor: pointer;
}

.Receipt_Generation:hover {
  transform: translateY(-2px);
  background-color: green;
}

.Receipt_Generation a {
  text-decoration: none;
  color: white;
}

.Sale_Repord {
  width: 180px;
  height: 50px;
  background-color: #099d83;
  border-radius: 8px;
  cursor: pointer;
}

.Sale_Repord:hover {
  transform: translateY(-2px);
  background-color: green;
}

.Sale_Repord a {
  text-decoration: none;
  color: white;
}

.Customer_management {
  width: 180px;
  height: 50px;
  background-color: #099d83;
  border-radius: 8px;
  cursor: pointer;
}

.Customer_management:hover {
  transform: translateY(-2px);
  background-color: green;
}

.Customer_management a {
  text-decoration: none;
  color: white;
}

/* //..Supper_Admin..// */
section {
  width: 90%;
  height: 100vh;
  margin-left: 230px;
}

section .Supper_Admin {
  width: 100%;
  height: 60px;
  background-color: #fafafa;
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
}

.Supper_Admin .Admin {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-self: flex-end;
  gap: 10px;
  margin-right: 20px;
}

.Admin h3 {
  font-weight: bold;
}

.Admin:hover {
  color: orange;
  cursor: pointer;
}

.Supper_Admin img {
  width: 50px;
  height: 50px;
  border-radius: 50px;
}

.contents {
  width: 97%;
  height: 86.5vh;
  background-color: #f3f5f8;
  box-shadow: 2px;
  padding: 20px;
}

.main_cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

/* // Card_Service // */

.main_cards .card {
  width: 100%;
  height: 110px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #10736b;
  border-left: 5px solid orange;
  border-radius: 8px;
  gap: 5px;
  color: white;
  cursor: pointer;
}
.main_cards .card-1 {
  width: 100%;
  height: 110px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #10736b;
  border-left: 5px solid gray;
  border-radius: 8px;
  gap: 30px;
  color: white;
  cursor: pointer;
}
.main_cards .card-2 {
  width: 100%;
  height: 110px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #10736b;
  border-left: 5px solid #0ebc9c;
  border-radius: 8px;
  gap: 70px;
  color: white;
  cursor: pointer;
}
.main_cards .card-3 {
  width: 100%;
  height: 110px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #10736b;
  border-left: 5px solid rgba(16, 16, 221, 0.727);
  border-radius: 8px;
  gap: 60px;
  color: white;
  cursor: pointer;
}
.main_cards .card-4 {
  width: 100%;
  height: 110px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #10736b;
  border-left: 5px solid orange;
  border-radius: 8px;
  gap: 40px;
  color: white;
  cursor: pointer;
}
.main_cards .card-5 {
  width: 100%;
  height: 110px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #10736b;
  border-left: 5px solid gray;
  border-radius: 8px;
  gap: 90px;
  color: white;
  cursor: pointer;
}
.main_cards .card-6 {
  width: 100%;
  height: 110px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #10736b;
  border-left: 5px solid #0ebc9c;
  border-radius: 8px;
  gap: 30px;
  color: white;
  cursor: pointer;
}
.main_cards .card-7 {
  width: 100%;
  height: 110px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #10736b;
  border-left: 5px solid rgba(17, 17, 232, 0.767);
  border-radius: 8px;
  gap: 20px;
  color: white;
  cursor: pointer;
}

.paragraph p {
  margin-top: 10px;
  font-weight: bold;
}

.paragraph a {
  text-decoration: none;
}
/* // Transaction // */

.card p a:first-child {
  color: orange;
}

.card-4 p:first-child {
  color: orange;
}

.card-1 .card-5,
p a:first-child {
  color: gray;
}

.card-6 p a:first-child {
  color: #099d83;
}

.card-2 p a:first-child {
  color: #099d83;
}

.card-3 p a:first-child {
  color: rgba(17, 17, 232, 0.767);
}

.card-7 p a:first-child {
  color: rgba(17, 17, 232, 0.767);
}

/* // icon..// */

.main_cards .fas {
  font-size: 32px;
  color: white;
}

.main_cards .fas:hover {
  transform: translateY(-3px);
  color: orange;
}