

.main_cards .card {
  width: 100%;
  height: 110px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #10736b;
  border-left: 5px solid orange;
  border-radius: 8px;
  gap: 5px;
  color: white;
  cursor: pointer;
}
.main_cards .card-1 {
  width: 100%;
  height: 110px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #10736b;
  border-left: 5px solid gray;
  border-radius: 8px;
  gap: 30px;
  color: white;
  cursor: pointer;
}
.main_cards .card-2 {
  width: 100%;
  height: 110px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #10736b;
  border-left: 5px solid #0ebc9c;
  border-radius: 8px;
  gap: 70px;
  color: white;
  cursor: pointer;
}
.main_cards .card-3 {
  width: 100%;
  height: 110px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #10736b;
  border-left: 5px solid rgba(16, 16, 221, 0.727);
  border-radius: 8px;
  gap: 60px;
  color: white;
  cursor: pointer;
}
.main_cards .card-4 {
  width: 100%;
  height: 110px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #10736b;
  border-left: 5px solid orange;
  border-radius: 8px;
  gap: 40px;
  color: white;
  cursor: pointer;
}
.main_cards .card-5 {
  width: 100%;
  height: 110px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #10736b;
  border-left: 5px solid gray;
  border-radius: 8px;
  gap: 90px;
  color: white;
  cursor: pointer;
}
.main_cards .card-6 {
  width: 100%;
  height: 110px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #10736b;
  border-left: 5px solid #0ebc9c;
  border-radius: 8px;
  gap: 30px;
  color: white;
  cursor: pointer;
}
.main_cards .card-7 {
  width: 100%;
  height: 110px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #10736b;
  border-left: 5px solid rgba(17, 17, 232, 0.767);
  border-radius: 8px;
  gap: 20px;
  color: white;
  cursor: pointer;
}

.paragraph p {
  margin-top: 10px;
  font-weight: bold;
}

.paragraph a {
  text-decoration: none;
}
/* // Transaction // */

.card p a:first-child {
  color: orange;
}

.card-4 p:first-child {
  color: orange;
}

.card-1 .card-5,
p a:first-child {
  color: gray;
}

.card-6 p a:first-child {
  color: #099d83;
}

.card-2 p a:first-child {
  color: #099d83;
}

.card-3 p a:first-child {
  color: rgba(17, 17, 232, 0.767);
}

.card-7 p a:first-child {
  color: rgba(17, 17, 232, 0.767);
}

/* // icon..// */

.main_cards .fas {
  font-size: 32px;
  color: white;
}

.main_cards .fas:hover {
  transform: translateY(-3px);
  color: orange;
}
