* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  font-family: "Arial", sans-serif;
  color: white;
  overflow: hidden;
}

.container {
  position: relative;
  width: 100%;
  height: 100%;
  background: linear-gradient(135deg, #001f3f 0%, #003366 50%, #00cccc 100%);
}

.diagonal-split {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom right, #001122, #0088aa);
  clip-path: polygon(0 0, 55% 0, 45% 100%, 0 100%);
  z-index: 1;
}

.glow-border {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  max-width: 800px;
  height: 50%;
  border: 4px solid transparent;
  border-radius: 20px;
  box-shadow: 0 0 30px rgba(0, 255, 255, 0.8),inset 0 0 30px rgba(0, 255, 255, 0.4);
  z-index: 2;
  pointer-events: none;
}

.content {
  position: relative;
  z-index: 3;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 0 5%;
}

.login-section {
  width: 40%;
  padding: 40px;
  margin-left: 14%;
}

.login-section h1 {
  font-size: 2em;
  margin-bottom: 20px;
  text-align: center;
}

.form-group {
  position: relative;
  margin-bottom: 30px;
  margin-left: 100px;
}

.form-group input {
  width: 80%;
  padding: 15px 50px;
  background: rgba(255, 255, 255, 0.1);
  border: none;
  border-radius: 10px;
  color: white;
  font-size: 1.1em;
}

.form-group input::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.form-group i {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  color: cyan;
  font-size: 1.3em;
}

.login-btn {
  width: 63%;
  padding: 15px;
  margin-left: 100px;
  background: linear-gradient(to right, #00ffff, #0088aa);
  border: none;
  border-radius: 50px;
  color: white;
  font-size: 1em;
  cursor: pointer;
  margin-bottom: 20px;
  box-shadow: 0 0 15px rgba(0, 255, 255, 0.6);
}

.login-btn:hover{
    transform: translateY(2px);
    transition: 0.5s;
}

.signup-link {
  text-align: center;
  font-size: 1em;
  margin-left: 24px;
}

.signup-link a {
  color: cyan;
  text-decoration: none;
}

.welcome-section {
  width: 50%;
  text-align: center;
}

.welcome-section h1 {
  font-size: 2em;
  margin-right: 50%;
  margin-bottom: 20px;
}

.welcome-section p {
  font-size: 1em;
  margin-right: 50%;
  opacity: 0.9;
}
